{% extends 'base.html' %}  {% block title_block %}
Statement {% endblock %} {% block body_block %}
<div class="text-center justify-content-center mt-4 p-4">
    <h1 CLASS="align-center">Statement</h1>
</div>
<table id="example" class="table table-striped m-3 p-3" style="width:100%">
    <thead>
    <tr>
        <th>Creation Date</th>
        <th>Invoice ID</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Balance</th>
    </tr>
    </thead>
    <tbody>
    {% for statement in statements %}
    <tr>
        <td>{{statement.date_created}}</td>
        <td>{{statement.invoice.id}}</td>
        <td>{{statement.debit}}</td>
        <td>{{statement.credit}}</td>
        <td>{{statement.balance}}</td>
    </tr>
    {% endfor %}
    <tr>
        <th colspan="4">Total Balance</th>
        <th>{{totalBalance}}</th>
    </tr>
    </tbody>
</table>

{% endblock %}